*{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 100%;
  text-align: center;

}



.zonephoto{
  width: 19%;
  height: 55%;
  border: 2px solid black;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.zonebtn {
margin-top: 70%;
width: 80%;
height: 10%;
margin-left: 10%;
border-bottom: 2px solid lightblue;
display:inline-flex;


}

.twitter{
background-image: url("twitter.png");
width: 32px;
height: 32px;
border-radius: 50px;
display: inline;
border: none;
}

.twitter:hover{
  cursor: pointer;
  transform: rotate(360deg);
  transition-duration: 1s;
}




.linkedin{
  background-image: url("linkedin.png");
  width: 32px;
  height: 32px;
  margin-left: 5px;
  border-radius: 50px;
  display: inline;
  border: none;

}

.linkedin:hover{
  cursor: pointer;
  transform: rotate(360deg);
  transition-duration: 1s;
}



.github{

  background-image: url("github.png");
  width: 32px;
  height: 32px;
  margin-left: 5px;
  border-radius: 50px;
  display: inline;
  border: none;
}

.github:hover{
  cursor: pointer;
  transform: rotate(360deg);
  transition-duration: 1s;
}

.wordpress{
  background-image: url("wordpress.png");
  width: 32px;
  height: 32px;
  margin-left: 5px;
  border-radius: 50px;
  display: inline;
  border: none;
}

 .wordpress:hover{
   transform: rotate(360deg);
   transition-duration: 0.5s;
   cursor:pointer;
 }


 .email{
   background-image: url("email.png");
   width: 32px;
   height: 32px;
   margin-left: 5px;
   border-radius: 50px;
   display: inline;
   border: none;
 }

 .email:hover{
   transform: rotate(360deg);
   transition-duration: 1s;
   cursor: pointer;
 }



.zonecomp{

  margin-top: 40%;
  width: 80%;
  height: 10%;
  margin-left: 1px;
  border-top: 2px solid lightblue;
  display:inline-flex;
  padding-top: 2%;

}

.btn{
  font-size: 8px;
  width: 30px;
  height: 30px;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 3px;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}

.btn:hover{
  background-color: blue;
  cursor: pointer;
  transform: rotate(360deg);
  transition-duration: 1s;
}
